<?xml version="1.0" ?>
<robot name="khi_duaro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find khi_duaro_description)/urdf/duaro_macro.xacro"/>

  <!-- instantiate duaro -->
  <xacro:khi_duaro prefix="" />

  <!-- Fix duaro to world -->

  <link name="world"/>

  <joint name="world2base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
