<?xml version="1.0"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rs_gazebo)/config/rs080n_gazebo_control.yaml" command="load"/>

  <!-- load the rs080 controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" args="--shutdown-timeout 0.1
                                           joint_state_controller
                                           rs080n_arm_controller
                                         "/>

</launch>
