<?xml version="1.0" ?>
<robot name="khi_rs007n" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find khi_rs_description)/urdf/rs007n_macro.xacro"/>

  <!-- instantiate rs007n -->
  <xacro:khi_rs007n prefix="" />

  <!-- Fix rs007n to world -->

  <link name="world"/>

  <joint name="world2base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
